@import "../abstract/variables.scss";
.hero-section {
  display: inline-block;
  width: 100%;
  height: 55vh;
}
.hero-section__img--large {
  display: inline-block;
  width: 69%;
  height: 100%;
  vertical-align: middle;
}

.img-large {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.hero-section__text--large {
  display: inline-block;
  width: 25%;
  background-color: white;
  vertical-align: top;
  height: 100%;
  text-align: start;
  margin-left: 2rem;
}
h1 {
  padding-top: 3%;
  font-size: 2.75rem;
}
h3 {
  padding-top: 5%;
  font-size: medium;
}

.stadistic {
  margin: 2%;
  width: 35%;
  height: 6rem;
  vertical-align: middle;
  display: inline-block;
  background-color: white;
  position: relative;
  left: 36.85rem;
  bottom: 6rem;
}
.stadistic-card {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
  height: 2rem;
}
.stadistic__title {
  width: 7rem;
  height: 2rem;
}
.stadistic__text {
  width: 7rem;
  height: 2rem;
}
.square {
  width: 5rem;
  height: 5rem;
  background-color: $vanilla;
  position: relative;
  left: 68rem;
  bottom: 10rem;
}
.square__icon {
  width: 5rem;
  height: 5rem;
  background-color: $flame;
  position: relative;
  right: 1rem;
  bottom: 1rem;
}
.fa-arrow-right {
  display: inline-block;
  vertical-align: middle;
  color: white;
  position: relative;
  left: 1rem;
  top: 1rem;
}

.section-bottoms {
  height: 33vh;
  
  position: relative;
  bottom: 7.9rem;
}
.section-bottoms__text--medium {
  display: inline-block;
  width: 69%;
  height: 100%;
  vertical-align: middle;
  padding-top: 2rem;
  margin-left: 2rem;
}
.section-bottoms__img--medium {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  height: 100%;
}

.container-text {
  width: 40%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.container-map {
  width: 45%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  background-color: $bluedeFrance;
  position: relative;
  left: 9.3rem;
  bottom: 2rem;
}
.container-grain {
  width: 20%;
  height: 50%;
  transform: rotate(90deg);
  vertical-align: top;
  display: inline-block;
  background-color: transparent;
  position: relative;
  left: 55rem;
  bottom: 11rem;
}

.img-map {
  width: 80%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  position: relative;
  right: 2rem;
  top: 1rem;
}
.img-grain {
  width: 80%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  position: relative;
}
.img-medium {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}
